.login-form {
  width: 600px;
  height: 640px;
  margin: auto auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
}

.div-horizon {
  width: 80%;
  height: 1px;
  background-color: #000;
  margin-top: 15px;
}

.button-link-face-detection {
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: #2013b8;
  }
  background-color: #fff;
}

.footer-signup {
  margin-top: 10px;
}

.button-signup {
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: #2013b8;
  }
}

@media screen and (max-width: 680px) {
  .login-form {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.faceid-description {
  margin-top: 10px;
}
