.interaction-container {
  height: 42px;
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.interaction-emoji {
  width: auto;
  height: 42px;
  border-radius: 50%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.detail-emoji {
  width: 40px;
  height: 40px;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  &:hover {
    cursor: pointer;
    width: 35px;
    height: 35px;
  }
}

.people-interact-detail {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.interaction-comment-share {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.action-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
