.todo-container {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  &::-webkit-scrollbar {
    width: 10px;
  }
}
.add-todo-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #d4d1d1;
  outline: none;
}
.add-todo {
  height: 52px;
  color: #4c7fd6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  gap: 20px;
  background-color: #fff;
}
.add-todo-first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.list-todo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;
}
.input-todo {
  font-size: 15px;
  width: 600px;
  &::placeholder {
    color: #4c7fd6;
    opacity: 1;
  }
  &:focus {
    &::placeholder {
      color: #000;
      opacity: 1;
    }
  }
}

.add-todo-more {
  height: 60px;
  background-color: #f9f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px 20px;
}
.input-content-todo {
  width: 600px;
  color: #4c7fd6;
  background-color: transparent;
  padding: 0 10px;
  height: 100%;
  text-decoration: none;
  text-align: left;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 680px) {
  .input-todo {
    width: auto;
  }
  .input-content-todo {
    font-size: 15px;
    max-width: 200px;
    width: auto;
  }
}
@media (max-width: 1040px) {
  .input-todo {
    width: auto;
  }
  .input-content-todo {
    font-size: 20px;
    width: auto;
  }
}
