.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
.div_body {
  padding-top: var(--height-header);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: stretch;
}

.div_content {
  flex-grow: 1;
  max-height: calc(100vh - var(--height-header));
  overflow-y: scroll;
  scrollbar-width: 1px;
}

@media screen and (max-width: 680px) {
  .div_body {
    flex-direction: column;
    gap: 2px;
    padding-top: var(--height-header);
  }
  .div_content {
    //max-height: calc(100vh - var(--height-header) - 100px);
  }
}
