.capture-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.detect-face {
  width: 150px;
  height: 150px;
  position: absolute;
  border: 2px solid #00ff00;
  border-radius: 2px;
  top: 79px;
  left: 210px;
}
