.capture-container {
  //width: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15px;
  // align-items: center;
}

.detect-face {
  width: 150px;
  height: 150px;
  position: absolute;
  border: 2px solid #00ff00;
  border-radius: 2px;
  top: 89px;
  left: 225px;
}

.capture-button {
  margin-top: 15px !important;
  position: absolute;
  bottom: 0px;
  width: 320px;
  left: calc(50% - 160px);
  right: calc(50% - 160px);
  display: block;
}

// .capture-frame-box {
//   // position: relative;
// }

.capture-frame-box-progress {
  position: absolute;
  bottom: 4px;
  left: calc(50% - 150px);
  width: 300px;
  height: 6px;
  background: #34a853;
  border-radius: 2px;
  z-index: 100;
  transition: 0.2s ease-in-out;
}
