:root {
  --header-chat-height: 100px;
  --header-chat-border-bottom: 1px solid #e6e6e6;
  --header-chat-display: flex;
  --header-chat-align-items: center;
  --header-chat-justify-content: space-between;
  --chat-avatar-size: 40px;
  --chat-avatar-border-radius: 50%;
  --chat-avatar-margin-left: 10px;
}

.header-chat {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-infor {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: larger;
  font-weight: bold;
}
.return-button {
  display: none;
  background-color: transparent;
}
.chat-avatar {
  height: var(--chat-avatar-size);
  width: var(--chat-avatar-size);
  border-radius: 50%;
  margin-left: 10px;
}
.chat-action {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: var(--primary-color);
  margin: 0 10px;
}

.action {
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .header-chat {
    height: 56px;
    padding: 3px;
  }
  .return-button {
    display: block;
    color: var(--primary-color);

    &:hover {
      cursor: pointer;
    }
  }
  .chat-avatar {
    height: 30px;
    width: 30px;
  }
}
