.conversation_item {
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 70% 8%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 2px;
  //grid-row-gap: 5px;
  grid-template-areas: 'avatar name active' 'avatar content active';
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: var(--light-mode-hover-component-color);
  }
}

.active_conversation {
  background-color: var(--light-mode-active-component-color);
  &:hover {
    background-color: var(--light-mode-active-component-color);
  }
}

.image-container {
  grid-area: avatar;
  position: relative;
  height: var(--chat-avatar-size);
  width: var(--chat-avatar-size);
  align-self: center;
  justify-self: center;
  margin: 5px;
  border-radius: 50%;
}

.chat-avatar {
  display: block;
  margin: 0 auto;
  height: var(--chat-avatar-size);
  width: var(--chat-avatar-size);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.status-indicator {
  position: absolute;
  bottom: 0px; /* Adjust the distance from the bottom */
  right: 0px; /* Adjust the distance from the right */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #31a24c; /* Adjust the color as needed */
  border: 1px solid #fff;
}
.last-message {
  grid-area: content;
  font-size: 1rem;
  color: #efebe9;
  color: var(--color-text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.4;
}

.name_chat {
  grid-area: name;
  align-self: center;
  justify-self: start;
  font-size: 1rem;
  font-weight: 1000;
  color: var(--color-text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.active-status {
  grid-area: active;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--color-active);
  align-self: center;
  justify-self: center;
}
@media screen and (max-width: 680px) {
  .conversation_item {
    width: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
  }
  .chat-avatar {
    grid-area: avatar;
  }
  .last-message,
  .name_chat,
  .active-status {
    //display: none;
  }
}
@media screen and (max-width: 800px) and (min-width: 681px) {
  .conversation_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .chat-avatar {
    grid-area: avatar;
  }
  .last-message,
  .name_chat,
  .active-status {
    display: none;
  }
}
