.register-form {
  width: 800px;
  height: 640px;
  margin: auto auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
  position: relative;
}



.footer-signin {
  position: absolute;
  bottom: 10px;
  width: 80%;
  padding-top: 5px;
  border-top: 1px solid #000;
}

.button-signin {
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: #2013b8;
  }
}
.register-box{
  width: 500px;
  margin-top: 50px;
  .register-box-field{
    margin-bottom: 15px;
  } 
}