@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #fe2c55;
  --background-color-default: #e4e6eb;
  --background-color-hover-default: #c8cad1;

  --height-header: 56px;
  --search-header-width: 361px;

  --width-sidebar: 300px;
  --width-sidebar-hide: 58px;

  --light-mode-color: #fff;

  --default-layout-header: 60px;
  --default-layout-width: 1150px;
  --black: #000;
  --text-color: #333;

  --primary-color: #0084ff;
  --chat-avatar-size: 50px;

  --light-mode-active-component-color: #eaf3ff;
  --light-mode-hover-component-color: #f2f2f2;

  --ligh-mode-background-color: #fff;
  --dark-mode-background-color: #000;

  --light-mode-text-color-mine: #fff;
  --light-mode-text-color-other: #000;

  --dark-mode-text-color-mine: #000;
  --dark-mode-text-color-other: #fff;

  --light-mode-background-color-message-mine: #0084ff;
  --light-mode-background-color-message-other: #e4e6eb;

  --size-avatar: 176px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  background-attachment: fixed;
  overflow-y: visible;
  background-color: #faf9f8;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
#root {
  height: 100%;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type='radio'] {
  width: 20px;
  height: 20px;
}

// ::-webkit-scrollbar {
//   display: none;
//   // width: 20px;
// }
