.message-container {
  gap: 5px;
  padding: 5px;
  margin: 5px;
  height: 100%;
  position: relative;
}

.message-container-mine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.message-container-other {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.message-item {
  display: block;
  position: relative;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #fff;
  max-width: 50%;
  overflow: break-all;
  margin: 5px 0;
}

.message_item_mine {
  background-color: #03a9f4;
}

.message-nickname {
  position: absolute;
  top: -15px;
  font-size: 12px;
  font-weight: bold;
}

.message-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
