.message-container {
  gap: 5px;
  padding: 5px;
  margin: 5px;
  height: 100%;
  position: relative;
}

.message-container-mine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.message-container-other {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.message-item {
  display: block;
  position: relative;
  padding: 5px 20px;
  border-radius: 20px;
  max-width: 50%;
  overflow: break-all;
  margin: 5px 0;
}

.message_item_mine {
  background-color: var(--light-mode-background-color-message-mine);
  color: var(--light-mode-text-color-mine);
}

.message_item_other {
  background-color: var(--light-mode-background-color-message-other);
  color: var(--light-mode-text-color-other);
}

.message-nickname {
  position: absolute;
  top: -15px;
  font-size: 12px;
  font-weight: bold;
}

.message-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 7px;
  object-fit: cover;
  object-position: center;
}
