.background_container {
  width: 100%;
  height: 348px;
  padding: 0 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.image_container_background {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  //filter: blur(10px);
}
.background_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 0 10px 10px;
  z-index: 2;
}
.button_change_background {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 220px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(74, 75, 76, 0.5);
  color: var(--light-mode-color);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  &:hover {
    background-color: rgb(74, 75, 76, 0.8);
  }
}
.input-file {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .background_container {
    padding: 0;
    height: 250px;
  }
  .button_change_background {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .textButtonChangeBack {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .background_container {
    padding: 0;
    height: 200px;
    overflow: hidden;
  }
  .button_change_background {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .textButtonChangeBack {
    display: none;
  }
}
