.view-conversation {
  float: left;
  width: 400px;
  height: 100%;
  border-right: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.view-conversation-chat {
  float: left;
  width: 400px;
  height: 100%;
  border-right: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.button-return-home {
  height: 30px;
  background-color: transparent;
  font-size: 20;
  padding: 5px;
  text-align: left;
}

.list-conversation {
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  align-items: stretch;

  &::-webkit-scrollbar {
    display: none;
  }

  padding: 5px;
  // &::-webkit-scrollbar {
  //   width: 10px;
  //   color: #e6e6e6;
  // }
}
@media screen and (max-width: 1040px) {
  .view-conversation,
  .view-conversation-chat {
    float: left;
    //width: 100px;
  }
  .list-conversation {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 680px) {
  .view-conversation-chat {
    display: none;
  }
  .view-conversation {
    //display: none;
    width: 100%;
  }
  .list-conversation {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (max-width: 800px) and (min-width: 681px) {
  .view-conversation-chat {
    float: left;
    width: 100px;
  }
  .view-conversation {
    width: 100px;
  }
  .list-conversation {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
