.fake-side-bar {
  width: var(--width-sidebar);
  height: calc(100vh - 56px);
  transition: all 0.4s ease;
}

.fake-sidebar_hide {
  width: var(--width-sidebar-hide);
  height: calc(100vh - 56px);
  transition: all 0.4s ease;
}

.button-open-close {
  padding-left: 9px;
  position: fixed;
  top: 90px;
}

.sidebar {
  position: fixed;
  background-color: #fff;
  height: calc(100vh - 56px);
  overflow: hidden;
  width: var(--width-sidebar);
  transition: all 0.4s ease;
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.1);
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar_hide {
  position: fixed;
  width: var(--width-sidebar-hide);
  background-color: #fff;
  height: calc(100vh - 56px);
  overflow: hidden;
  transition: all 0.4s ease;
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

@media screen and (max-width: 680px) {
  .sidebar {
    width: 100%;
    height: var(--height-sidebar-mobile);
    flex-direction: row;
  }
  .sidebar_hide {
    width: 100%;
    height: var(--height-sidebar-mobile);
    flex-direction: row;
  }
  .fake-side-bar {
    width: 100%;
    height: var(--height-sidebar-mobile);
  }
  .fake-sidebar_hide {
    width: 100%;
    height: var(--height-sidebar-mobile);
  }
  .button-open-close {
    display: none;
  }
}
