.friend-recommend {
}

.friend-all-content {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px 0;
}

.friend-item {
}

li {
  list-style: none;
}
