.friend-recommend {
}

.friend-all-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px 0;
}

.friend-item {
}

li {
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .friend-all-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1040px) {
  .friend-all-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 680px) {
  .friend-all-content {
    grid-template-columns: 1fr;
  }
}
